@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.text {
    font-family: 'Roboto', sans-serif;
}

.button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(0, 99, 99);
    border: none;
    padding: 10px 15px;
    border-radius: 19px;
    color: #fff;
    font-size: 15px;
}